:root {
    --test: red;
}

div.carousel {
    width: 55vmin;
    height: 13vmax;
}

.carousel .links {
    width: auto;
    max-width: 100%;
    writing-mode: unset;
    padding: 5px;
    color: var(--secondary-color);
    background-color: transparent;
}
.carousel .links:hover {
    animation: carousel-project-name 50ms cubic-bezier(0.785, 0.135, 0.15, 1.86) forwards;
}

@keyframes carousel-project-name{
    100%{
        background-color: none;
        transform: scale(1.2);
    }
}
