div.carousel {
    width: 55vmin;
    height: 13vmax;
}

.carousel .links {
    width: auto;
    max-width: 100%;
    writing-mode: unset;
    padding: 5px;
    color: var(--secondary-color);
    background-color: transparent;
    animation: none;
    box-shadow: none;
}

.carousel button {
    box-shadow: none;
}
