a.links {
    width: auto;
    text-align: center;
    max-width: max-content;
    text-decoration: none;
    color: #000;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 3;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-list {
    transform: translate3d(0, 0, 0);
    width: auto;
    min-width: 100%;
    justify-content: space-evenly;
}
