.description-content {
    font-weight: 300;
}

.description-img{
    margin: 8px auto;
    width: 80%;
    height: auto;
}

.site-link{
    font-variant-caps: all-petite-caps;
    padding: 2vmax 5vmin;
    writing-mode: unset;
    background: white;
    transform: none;
}