.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "cv cv cv infos infos"
        "cv cv cv infos infos"
        "cv cv cv form form"
        "cv cv cv form form";
    height: 100%;
    row-gap: 5px;
    column-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
    padding: 50px;
}

.cv {
    grid-area: cv;
}
.infos {
    grid-area: infos;
}
.form {
    grid-area: form;
}

.react-pdf__Page__canvas {
    width: calc(21cm / 10%);
    height: calc(29.7cm / 10%);
    max-width: 21cm;
}
.react-pdf__Page {
}

.MuiCardContent-root {
    background-color: none;
    height: 100%;
    display: flex;
    justify-content: center;
}
