/* :root {
    --none: none;
} */

/* a.icon {
    padding: 2vmin;
    animation: icons 50ms cubic-bezier(1, 0, 1, 1.8) forwards;
}

a.icon:hover {
    animation: icons-hover 200ms cubic-bezier(1, 0, 1, 1.8) forwards;
}

@keyframes icons {
    from {
        box-shadow: none;
        transform: scale(1.1);
    }
    to {
        box-shadow: none;
        transform: none;
    }
}
@keyframes icons-hover {
    0% {
        box-shadow: none;
    }
    1%{
        transform: rotateZ(180deg);

    }
    100% {
        box-shadow: none;
        transform: scale(1.1);

    }
} */
