.accordions {
    display: grid;
}

.MuiAccordionSummary-content {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.MuiPaper-root.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
    display: grid;
    align-content: center;
}
