.self-portrait {
    width: 21vmin;
    height: auto;
    float: left;
    margin: 3vmin;
}

/* ACCORDION */
.accordion {
    margin: 2vmin auto;
    border-radius: var(-border-radius);
    overflow: hidden;
    width: auto;
}

.accordion_input {
    display: none;
}

.accordion_input:hover ~ .accordion_content,
.accordion_input:checked ~ .accordion_content {
    display: block;
    margin: 0;
    background-color: var(--primary-color);
}

.accordion_label {
    display: block;
    cursor: pointer;
    font-size: 8vmin;
    font-weight: var(--h2-weight);
    font-family: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
}

.accordion_label:hover {
    animation: accordion-hover 300ms ease-in-out forwards;
}
@keyframes accordion-hover {
    100% {
        background: var(--bg-hover);
        color: var(--secondary-color);
        border-radius: 0vmin;
    }
}
.accordion_content {
    line-height: 8vmin;
    font-weight: 300;
    display: none;
    background-color: thistle;
    transition: background 500ms;
    animation: accordion-content 500ms ease-in-out forwards;
}
.accordion_content p {
    margin: 0 13vmin;
}

@keyframes accordion-content {
    100% {
        background: var(--bg-hover);
        color: var(--secondary-color);
        border-radius: 0;
    }
}

#availability {
    color: black;
}
.about-menu-container {
    grid-area: about;
    top: 13vmin;
}
