.nav-projects {
    width: 89vmin;
    align-items: center;
    height: auto;
    padding: 8vmax 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.nav-projects a {
    color: var(--secondary-color);
    writing-mode: unset;
    padding: 3vmax 8vmin;
    margin: 1vmax 5vmin;
    border-radius: 3px;
    position: sticky;
    width: 50%;
    background-color: transparent;
}
.nav-projects a:hover {
    animation: hover 100ms cubic-bezier(1, 1, 1, 1) forwards;
}

@keyframes hover {

    100% {
        background-color: transparent;
        transform: skewY(10);
    }
}



