.portfolio-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
        "carousel carousel form form form"
        "screenshot screenshot form form form"
        "screenshot screenshot form form form";
    background-color: #2196f3;
    padding: 50px;
    row-gap: 5px;
    column-gap: 5px;
}

.form {
    grid-area: form;
    width: auto;
    height: auto;
    min-height: 100%;
    padding: 0% 5% 0% 5%;
}
.screenshot {
    grid-area: screenshot;
    padding: 5%;
    display:flex;
    align-items: center;
}
.carousel {
    grid-area: carousel;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 3px 3px 1px #000, -3px -3px 1px #000; */
    border-radius: 2px;
    padding: 0;
}
.MuiAvatar-root.MuiAvatar-square.MuiAvatarGroup-avatar.MuiAvatar-colorDefault {
    width: max-content;
    margin: 0 2px;
}
#avatargroup1 {
    border: 1px solid black;
}
img {
    width: auto;
}
#screenshot {
    width: auto;
    min-width: 100%;
}
