.portfolio-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "carousel carousel form form form"
        "screenshot screenshot form form form"
        "screenshot screenshot form form form";
    background-color: #2196f3;
    /* padding: 50px; */
    /* height: 100%; */
    row-gap: 5px;
    column-gap: 5px;
    /* justify-items: stretch; */
    /* align-items: stretch; */
}

.form {
    grid-area: form;
    width: 100%;
    border: solid 1px red;
}
.screenshot {
    grid-area: screenshot;
}
.carousel {
    grid-area: carousel;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 3px 3px 1px #000, -3px -3px 1px #000; */
    border-radius: 2px;
    padding: 0;
}
.MuiAvatar-root.MuiAvatar-square.MuiAvatarGroup-avatar.MuiAvatar-colorDefault{
    width: max-content;
    margin: 0 2px;
    border: 1px solid;
    justify-self: stretch;
}
#avatargroup1{
    display: flex;
    justify-content: flex-start;
    justify-items: stretch;
    width: 100%;
}
