.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas:
        "carousel carousel carousel form form"
        "preview preview preview form form"
        "preview preview preview form form";
    background-color: #2196f3;
    padding: 50px;
    height: 100%;
    row-gap: 5px;
    column-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
}

.form {
    grid-area: form;
    width: 100%;
    border: solid 1px red;
}
.preview {
    grid-area: preview;
    border: solid 1px rgb(4, 0, 255);
}
.carousel {
    grid-area: carousel;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 1px #000, -3px -3px 1px #000;
    border-radius: 2px;
    padding: 0;
}
.MuiAvatar-root.MuiAvatar-square.MuiAvatarGroup-avatar.MuiAvatar-colorDefault{
    width: max-content;
    margin: 0 2px;
    border: 1px solid;
    justify-self: stretch;
}
#avatargroup1{
    display: flex;
    justify-content: flex-start;
    justify-items: stretch;
    width: 100%;
}
