.site-link {
    writing-mode: unset;
}
.cards {
    flex-wrap: wrap;
}
.stacks,
.tools {
    display: flex;
    flex-wrap: wrap;
    margin: 3vmin auto;
}
.stack-title,
.tool-title {
    width: 100%;
    padding: 0vmin 8vmin;
}
.stack-title {
    text-align: left;
}
.tool-title {
    text-align: right;
}

.stack-card,
.tool-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    width: min-content;
    background-color: var(--primary-color);
    flex-grow: 1;
    margin: 3vmin;
    box-shadow: var(--shadow-img-box);
}

.version {
    font-weight: 300;
    font-size: 3vmin;
    vertical-align: center;
}
.name {
    border-radius: 2vmin 2vmin 0 0;
    padding: 5vmin 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.stack:hover {
    background-color: var(--green);
}
.tool:hover {
    background-color: var(--yellow);
}
