/* .main-grid {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 0.125fr;
    grid-template-areas:
        "leftMenu header header header header"
        "leftMenu main main main main"
        "leftMenu main main main main"
        "leftMenu footer footer footer footer";
    background-color: #d8d8d8;
    justify-items: stretch;
    align-items: stretch;
    padding: 5px;
    height: 100vh;
} */

header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.about {
    grid-area: about;
}

footer {
    grid-area: footer;
}

/* .left-menu {
    grid-area: leftMenu;
} */
/* .header {
    grid-area: header;
} */

/* .main {
    grid-area: main;
} */
/* .footer {
    margin: 0;
    grid-area: footer;
} */

/* .contact {
    background-color: #4ec044;
} */
