.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr [col-start]);
    grid-template-rows: repeat(10, 10vh [row-start]);
    grid-template-areas:
        "leftMenu header header header header"
        "leftMenu main main main main"
        "leftMenu footer footer footer footer";
    row-gap: 2px;
    column-gap: 3px;
    justify-items: stretch;
    align-items: stretch;
}

.left-menu {
    grid-area: leftMenu;
    grid-column-start: col-start 0;
    grid-column-end: col-start 1;
    grid-row-start: row-start 0;
    grid-row-end: row-start 10;
}
.header {
    grid-column-start: col-start 1;
    grid-column-end: col-start 6;
    grid-row-start: row-start 0;
    grid-row-end: row-start 1;
    display: flex;
    flex-wrap: nowrap;
}
.MuiList-root.MuiList-padding {
    display: flex;
}
.main-content {
    margin: 0;
    grid-area: main;
    grid-column-start: col-start 1;
    grid-column-end: col-start 6;
    grid-row-start: row-start 0;
    grid-row-end: row-start 9;
}
.footer {
    margin: 0;
    grid-area: footer;
    grid-column-start: col-start 1;
    grid-column-end: col-start 6;
    grid-row-start: row-start 9;
    grid-row-end: row-start 10;
}
