
body {
    width: auto;
    max-width: 100%;
    height: auto;
    max-width: 100%;
    background-color: transparent;
}

/*
fontFamily: "'Sora', sans-serif",
backgroundColor: "#fbfbfb",
backgroundColor: "transparent",
color: "#2e2e33",

    boxShadow:
            "0px 2px 1px -1px rgba(0,0,0,0.2), \
        0px 1px 1px 0px rgba(0,0,0,0.14), \
        0px 1px 3px 0px rgba(0,0,0,0.12)",
    },

    title: {
        font: "8em arial, sans-serif",
        fontFamily: "'Poiret One', cursive",
        color: "transparent",
        textShadow:"3px 3px 0px #cccccc, 3.7px 3.4px 3px rgb(255, 255, 255), 4.1px 0.9px 1.5px rgb(77, 77, 77), 5.1px 0.5px 0.3px rgb(255,255,255)",
        letterSpacing: "2px",
        margin: "0",
        position: "relative",
    },

*/
