/* INIT */
:root {
    --primary-color: #fbfbfb;
    --secondary-color: #000000;
    --links-color: #312119;
    --bg-hover: #ebe9e7;

    --blue: #20d5ff;
    --yellow: #f5e11e;
    --green: #7fff7f;
    --orange: #ffa650;
    --pink: #ff7c7c;

    --red: #ff6913ef;

    --javascript: #f7e018;
    --react: #62daee;
    --node: #2fa44f;
    --redux: #9875cd;
    --sql: #01618b;

    --border-color: rgba(25, 42, 49, 0.2);

    --font-size: 5vmin;
    --font-size-small: 3vmin;
    --font-title: "Poiret One", cursive;
    --font-content: "Sora", sans-serif;
    --first-letter: 34vmin;

    --h1-title: 21vmin;
    --h2-title: 13vmin;
    --h3-title: 8vmin;

    --neumorphism-br: 10px;
    --neumorphism-bgr: linear-gradient(225deg, #ffffff, #e2e2e2);
    --neumorphism-box: -5px 5px 8px #bababa, 5px -5px 8px #ffffff;
    --shadow-img-box: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --shadow-content: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14) 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --shadow-title: 3px 1px 0px #fbfbfb, 3px 0px 2px #ffffff,
        5px 3px 3px #192a3133, 2px 1px 3px #192a31;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: 100vh;
    font-family: var(--font-content);
    background-color: transparent;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 1;
}

/* MAIN GRID TEMPLATE  */
.main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "about-menu"
        "main"
        "footer ";
    justify-content: center;
    margin: 0 13px;
    padding: 0;
    border-radius: 10px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(225deg, #ffffff, #e2e2e2);
    box-shadow: -5px 5px 8px #bababa, 5px -5px 8px #ffffff;
}

.main-grid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(./static/image/mask/mask_header.png) no-repeat;
    /* mix-blend-mode: luminosity; */
    background-size: cover;
    border-radius: 10px;
    opacity: 1;
    width: auto;
    height: 34vmax;
}

.main {
    width: auto;
    max-width: 89vw;
    margin: 0 auto;
    padding: 5vmax 0;
    /* background-color: var(--blue); */
    border-radius: 10px;
}

.main::before {
    content: "";
    width: 80%;
    display: block;
    border: 1px dashed #888888;
    margin: 0px auto 50px auto;
}

.main section,
.main fieldset {
    display: grid;
    justify-items: center;
}

div.about-menu {
    max-width: 100vw;
}

/* GENERAL */
div {
    position: relative;
    width: auto;
    /* max-width: 100vw; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    font-family: var(--font-title);
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

h1 {
    color: var(--secondary-color);
    font-size: var(--h1-title);
    /* font-weight: 200; */
    /* text-shadow: 3px 3px 0px rgba(25, 42, 49, 0.2), 3.7px 3.4px 2px #fbfbfb,
            4.1px 1.5px 1.5px #192a31, 5.1px 0.5px 0.3px #fbfbfb; */
}

h2 {
    font-size: var(--h2-title);
}

h3 {
    font-size: var(--h3-title);
}
p {
    font-family: var(--font-content);
    font-size: var(--font-size);
    color: var(--secondary-color);
    text-align: justify;
    word-break: normal;
    margin: 13px;
}

.first-paragraph::first-letter {
    font-size: var(--first-letter);
    font-family: var(--font-title);
    line-height: 0.8;
    margin: 16px 20px;
    float: left;
    font-weight: 700;
}

ul {
    margin: 0px 13vmin;
}

li {
    font-family: var(--font-content);
    font-size: var(--font-size);
    color: var(--secondary-color);
    margin: 2vmin;
    line-height: 1.5em;
    font-style: italic;
}

a {
    color: var(--secondary-color);
    font-family: var(--font-content);
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    margin: 0 auto;
    padding: 3vmax 5vmin;
    text-align: center;
    border-radius: 5px;
    transform: scale(0.85);
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: transparent;
    box-shadow: var(--neumorphism-box);
    animation: anchor 500ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
a:hover {
    animation: anchor-hover 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
        forwards;
}
a:focus {
    color: var(--primary-color);
    background-color: var(--blue);
}

@keyframes anchor {
    from {
        box-shadow: var(--neumorphism-box);
        transform: scale(1.1);
        transform: rotateX(15deg);
    }
    to {
        box-shadow: none;
        transform: none;
    }
}

@keyframes anchor-hover {
    100% {
        box-shadow: var(--neumorphism-box);
        transform: scale(1.1);
    }
}
@keyframes focus {
    100% {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}

a.links {
    color: var(--primary-color);
    background-color: var(--links-color);
    padding: 0px 5px;
    font-family: var(--font-content);
    text-transform: capitalize;
    text-decoration: none;
}

a.icon {
    padding: 2vmin;
    animation: icons 50ms cubic-bezier(1, 0, 1, 1.8) forwards;
}

a.icon:hover {
    animation: icons-hover 200ms cubic-bezier(1, 0, 1, 1.8) forwards;
}

@keyframes icons {
    from {
        box-shadow: none;
        transform: scale(1.1);
    }
    to {
        box-shadow: none;
        transform: none;
    }
}
@keyframes icons-hover {
    0% {
        box-shadow: none;
    }
    1%{
        transform: rotateZ(180deg);

    }
    100% {
        box-shadow: none;
        transform: scale(1.1);

    }
}

img {
    width: 100%;
    height: auto;
    border-radius: 13px;
    box-shadow: var(--shadow-img-box);
}

button {
    border: none;
    width: min-content;
    height: min-content;
    color: var(--secondary-color);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: capitalise;
    background-color: var(--primary-color);
    writing-mode: initial;
    padding: 10px 20px 10px 20px;
    background: var(--green);
    background-image: linear-gradient(
        0%var (--green),
        1% white,
        55% #15ff00 1%,
        var(--green)
    );
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 3px #1a1918;
    -moz-box-shadow: 0px 2px 3px #1a1918;
    box-shadow: 0px 2px 3px #1a1918;
}

header {
    position: sticky;
    margin: 0 auto;
    padding: 0;
    width: 89vmin;
    height: 100%;
}

nav {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 3vmax 0;
}

footer {
    margin: 0;
    padding: 5vmax 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer p {
    font-size: var(--font-size-small);
    text-align: justify;
    margin: 3vmax 0;
}

form {
    width: 89vmin;
}

fieldset {
    border-radius: 1vmin;
    margin: 0 auto;
    width: 50vmin;
    border: 1px solid rgb(190, 190, 190);
}

legend {
    margin: 13px 8px;
    font-family: var(--font-content);
    font-weight: 200;
}

label {
    color: var(--primary-color);
    z-index: 10;
}

input,
textarea {
    text-align: center;
    border-radius: 1vmin;
    border: 1px solid;
    height: 5vmax;
    margin: 13px;
    background: #ffffff;
    border: 1px solid rgb(190, 190, 190);
}
