/* INIT */
:root {
    --primary-color: #fbfbfb;
    --secondary-color: #000000;
    --links-color: #312119;
    --bg-hover: #ebe9e7;

    --blue: #20d5ff;
    --yellow: #f5e11e;
    --green: #7fff7f;
    --orange: #ffa650;
    --pink: #ff7c7c;

    --red: #ff6913ef;

    --javascript: #f7e018;
    --react: #62daee;
    --node: #2fa44f;
    --redux: #9875cd;
    --sql: #01618b;

    --border-color: rgba(25, 42, 49, 0.2);
    --border-radius: 2vmin;
    --form-border: 0.1vmin solid rgb(190, 190, 190);

    --font-size: 5vmin;
    --font-size-small: 3vmin;
    --font-title: "Poiret One", cursive;
    --font-content: "Sora", sans-serif;
    --first-letter: 34vmin;

    --h1-title: 21vmin;
    --h2-title: 13vmin;
    --h3-title: 8vmin;

    --neumorphism-br: 1vmin;
    --neumorphism-bgr: linear-gradient(225deg, #ffffff, #e2e2e2);
    --neumorphism-box: -1vmin 1vmin 2vmin #bababa, 1vmin -1vmin 2vmin #ffffff;
    --shadow-img-box: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --shadow-content: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14) 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --shadow-title: 3px 1px 0px #fbfbfb, 3px 0px 2px #ffffff,
        5px 3px 3px #192a3133, 2px 1px 3px #192a31;
}
* {
    margin: 0;
    padding: 0;
}

body {
    /* width: auto; */
    /* height: 100vh; */
    font-family: var(--font-content);
    background-color: transparent;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 1;
}

/* MAIN GRID TEMPLATE  */
.main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "about"
        "header"
        "main"
        "footer ";
    justify-content: center;
    margin: 0 13vmin;
    padding: 0;
    padding-top: 34vmin;
    margin: 5vmin;
    border-radius: var(--border-radius);
    background: linear-gradient(225deg, #ffffff, #e2e2e2);
    box-shadow: var(--neumorphism-box);
}

.main-grid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent
        url(./static/image/wallpaper/wp2141419-web-design-wallpapers.png)
        no-repeat;
    /* mix-blend-mode: luminosity; */
    background-size: contain;
    border-radius: var(--border-radius);
    opacity: 1;
    width: 100%;
    height: auto;
}

.main {
    margin: 0 auto;
    padding: 5vmin 0;
}

.main::before {
    content: "";
    width: 80vmin;
    display: block;
    border: 0.1vmin dashed #888888;
    margin: 0 auto 5vmin auto;
}

.main section,
.main fieldset {
    display: grid;
    justify-items: center;
}

div.about-menu {
    max-width: 100vmin;
}

/* GENERAL */
div {
    position: relative;
    width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    font-family: var(--font-title);
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

h1 {
    color: var(--secondary-color);
    font-size: var(--h1-title);
}

h2 {
    font-size: var(--h2-title);
}

h3 {
    font-size: var(--h3-title);
}
p {
    font-family: var(--font-content);
    font-size: var(--font-size);
    color: var(--secondary-color);
    text-align: justify;
    word-break: normal;
    margin: 8vmin;
}

.first-paragraph::first-letter {
    font-size: var(--first-letter);
    font-family: var(--font-title);
    margin: 5vmin 3vmin;
    float: left;
    font-weight: 700;
}

ul {
    margin: 0vmin 13vmin;
}

li {
    font-family: var(--font-content);
    font-size: var(--font-size);
    color: var(--secondary-color);
    margin: 2vmin;
    line-height: 1.5em;
    font-style: italic;
}

a {
    color: var(--secondary-color);
    font-family: var(--font-content);
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    margin: 0 auto;
    padding: 3vmin 5vmin;
    text-align: center;
    border-radius: 2vmin;
    transform: scale(0.85);
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: transparent;
    box-shadow: var(--neumorphism-box);
    animation: anchor 500ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
a:hover {
    animation: anchor-hover 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
        forwards;
}
a:focus {
    color: var(--primary-color);
    background-color: var(--blue);
}

@keyframes anchor {
    from {
        box-shadow: var(--neumorphism-box);
        transform: scale(1.1);
        transform: rotateX(15deg);
    }
    to {
        box-shadow: none;
        transform: none;
    }
}

@keyframes anchor-hover {
    100% {
        box-shadow: var(--neumorphism-box);
        transform: scale(1.1);
    }
}
@keyframes focus {
    100% {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}

a.links {
    color: var(--primary-color);
    background-color: var(--links-color);
    padding: 0 5vmin;
    font-family: var(--font-content);
    text-transform: capitalize;
    text-decoration: none;
}

a.icon {
    padding: 2vmin;
    animation: icons 50ms cubic-bezier(1, 0, 1, 1.8) forwards;
}

a.icon:hover {
    animation: icons-hover 200ms cubic-bezier(1, 0, 1, 1.8) forwards;
}

@keyframes icons {
    from {
        box-shadow: none;
        transform: scale(1.1);
    }
    to {
        box-shadow: none;
        transform: none;
    }
}
@keyframes icons-hover {
    0% {
        box-shadow: none;
    }
    1% {
        transform: rotateZ(180deg);
    }
    100% {
        box-shadow: none;
        transform: scale(1.1);
    }
}

img {
    width: 100%;
    height: auto;
    border-radius: 13vmin;
    /* box-shadow: var(--shadow-img-box); */
}

button {
    border: none;
    color: var(--secondary-color);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: capitalise;
    background-color: var(--primary-color);
    writing-mode: initial;
    padding: 5vmin 13vmin;
    background: var(--primary-color);
    border-radius: 2vmin;
    margin: 0 auto;
    animation: button 300ms ease forwards;
    cursor: pointer;
}
.send-button {
    margin: 8vmin auto;
    transform: translateX(100%);
}
article a {
    writing-mode: unset;
    position: absolute;
    right: 5vmin;
}

article p {
    font-weight: 300;
}

header {
    margin: 5vmin auto;
    margin-bottom: 0;
    padding: 0;
    width: 90vmin;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 5vmin 0;
}

footer {
    margin: 0;
    padding: 13vmin 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer p {
    font-size: var(--font-size-small);
    text-align: justify;
    margin: 3vmin 0;
}

form {
    width: 90vmin;
}

fieldset {
    border-radius: 1vmin;
    margin: 0 auto;
    width: 50vmin;
    border: var(--form-border);
}

legend {
    margin: 5vmin 8vmin;
    font-family: var(--font-content);
    font-weight: 200;
}

label {
    color: var(--primary-color);
}

input,
textarea {
    text-align: center;
    border-radius: 1vmin;
    height: 13vmin;
    margin: 3vmin;
    background: #ffffff;
    border: var(--form-border);
}
