$body-bg: #f0f0f0;
$body-color: #37474f;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/reboot";

.navbar{
    box-shadow: 5px 5px 4px -4px #888888, 0px 0px 1px 0px #7a7a7a;
    border-radius: 2px;
}